.container-cart{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 2rem;
}
.container-cart h1{
    font-size: 26px;
}

.container-button-cart button{
    text-align: center;
    display: flex;
    padding-left: 30px !important;
    padding-right: 30px !important;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    transition: .2s ease-out;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    letter-spacing: 1px !important;
}

.button-cart{
    background-color: #000;
}

.icon-close{
	width: 25px;
	height: 25px;
}

.container-button-cart button:hover{
    color: #666666b4;
	cursor: pointer;
}

.container-pay-cart{
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    flex-direction: row;
}

.container-pay-cart p{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.container-pay-cart button{
    width: 24rem;
    color: #ececec;
    background-color: #424242;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    padding: 0 2rem;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    line-height: 41px;
}

.container-pay-cart button:hover{
    border-color: transparent;
    background-color: #363636;
    color: #fff;
    transition: box-shadow .25s ease-out,background-color .2s ease-out;
}