.container-cardswomen{
    display: flex;
    padding-top: 3rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f256;
    
}

.container-cardswomen a{
    width: 20%;
    margin: 15px;
}

.container-cardswomen2{
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.082), 
    0 10px 10px rgba(0, 0, 0, 0.096);
    transition: .2s;
    background: #fff;
}

.cardswomen-img{
    width: 100%;
    height: auto;
}

.container-button-cardswomen {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
    align-items: center;
    margin-bottom: 4rem;
}

.button-cardswomen{
    width: 24rem;
    color: #c9d6d4;
    background-color: #424242 !important;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    padding: 0 2rem;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    line-height: 41px;
}

.button-cardswomen span{
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    box-sizing: inherit;
}

.button-cardswomen i{
    font-size: 1.3rem;
    line-height: inherit;
    text-align: center;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    line-height: 1;
}




